<style>
div[class*="watermark"] {
    display: none !important;
}
header {
    display: none !important;
}
</style>
body{
    margin:0;
    font-family: Arial;
    background: linear-gradient(135deg,#4e73df,#1cc88a);
    text-align:center;
}

.card{
    background:white;
    width:400px;
    padding:30px;
    margin:100px auto;
    border-radius:15px;
}

input{
    width:90%;
    padding:10px;
    margin:10px 0;
}

button{
    padding:10px 20px;
    margin:10px;
    border:none;
    background:#4e73df;
    color:white;
    cursor:pointer;

}

